<div style="max-width: 400px; margin: 50px auto;">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>
    @if(errorMessage != '') {
    <div style="color:red; margin-top:10px;">
      {{ errorMessage }}
    </div>
    }   

  </form>
</div>